.add-answer {
  height: 46px;
}

.add-help {
  margin-left: 10px;
  margin-bottom: 5px;
  width: 30%;
  padding-left: 0;
  padding-right: 0;
}

.answer-add {
  padding: 10px;
}

.answer-item {
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
  width: 100%;
}

.box,
.box-end {
  min-width: 180px;
  max-width: 400px;
  width: 200px;
  background-color: #ccc;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  position: absolute;
  overflow: hidden;
}

.box-head {
  pointer-events: none;
  color: #fff;
  opacity: 0.7;
  float: left;
  margin-left: 10px;
  text-shadow: 0 1px 0 #000;
}

.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.close {
  line-height: 0.65;
}

.close-box {
  margin-right: 10px;
  color: #fff;
  opacity: 0.5;
  text-shadow: 0 1px 0 #000;
}

.close-box:focus, .close-box:hover {
  color: #fff;
  opacity: 0.7;
}

.color-select {
  padding-right: 10px;
  padding-left: 5px;
}

.drag-handel {
  padding-bottom: 10px;
  cursor:  move;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #000;
  background-color: rgba(0,0,0,.3);
}

.drawing-box {
  min-width: 190px;
  background-color: #c5a8cc;
}

.drawing-box > .drag-handel {
  background-color: rgb(183,96,133);
  background-color: rgba(183,96,133,.3);
}

.edit-icon {
  float: right;
  opacity: 0.3;
}

.edit-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.edit-popover {
  width: 450px;
  max-width: 450px;
}

.editor {
  width: 98%;
  height: 800px;
  border-style: solid;
  border-width: 2px;
  margin-top: 20px;
  margin-left: 1%;
  margin-right: 1%;
  overflow: scroll;
}

.end,
.start {
  min-width: 30px;
  width: 75px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: move;
}

.form-group {
  margin-bottom: 0;
}

.help-popover {
  width: 600px;
  max-width: 1200px;
}

.help-preview {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  min-height: 106px;
  padding: 2px 4px;
  margin-bottom: 10px;
}

.help-text {
  width: 100%;
  min-height: 106px;
  resize: vertical !important;
  margin-bottom: 10px;
}

.input-group-addon {
  padding-left: 6px;
  padding-right: 6px;
}

.lab {
  padding: 0;
  margin: 0;
  padding-left: 15px;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,.5);
  border: none
}

.multi-box {
  background-color: #9ecfdf;
}

.multi-box > .drag-handel {
  background-color: rgb(85,100,171);
  background-color: rgba(85,100,171,.3);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.question {
  z-index: auto;
}

.question-box {
  background-color: #b8d4a2;
}

.question-box > .drag-handel {
  background-color: rgb(56,116,92);
  background-color: rgba(56,116,92,.3);
}

.req {
  padding: 0 15px;
  float: right;
  clear: both;
}

select.form-control {
  padding: 0;
}

.select-row {
  margin: 0;
  margin-bottom: 10px;
}

.task {
  padding: 0 10px;
  margin-top: 5px;
}

textarea.form-control {
  padding: 2px 4px;
  resize: none;
}

.type-select {
  padding-left: 10px;
  padding-right: 5px;
}

.ui-resizable-e {
  cursor: ew-resize;
}
